body{
    width: 100vw!important;
    height: 100vh!important;
}

.button-icon{
    width: 25px;
    height: 25px;
}

.facebook-link{
    --bs-btn-hover-bg: #7eaff7!important;
    --bs-btn-hover-border-color: #7eaff7!important;
    --bs-btn-active-bg: #7eaff7!important;
    --bs-btn-active-border-color:  #7eaff7!important;
    --bs-btn-border-color: #c5c5c5!important;
}

.whatsapp-link{
    --bs-btn-hover-bg: #76f8bb!important;
    --bs-btn-hover-border-color: #76f8bb!important;
    --bs-btn-active-bg:  #76f8bb!important;
    --bs-btn-active-border-color:  #76f8bb!important;
    --bs-btn-border-color: #c5c5c5!important;
}


.instagram-link{
    --bs-btn-hover-bg: #fa6169!important;
    --bs-btn-hover-border-color: #fa6169!important;
    --bs-btn-active-bg:  #fa6169!important;
    --bs-btn-active-border-color:  #fa6169!important;
    --bs-btn-border-color: #c5c5c5!important;
}

.container-logo{
    position: absolute;
    left: 20px;
    top: -200px;

}

.container-coluna{
    @media (min-width: 1px) {
        width: 100%!important;
        --bs-card-border-color: none!important;
    }
    @media (min-width: 700px) {
        width: 50%!important;
        --bs-card-border-color: none!important;
    }
}


.logo{
    @media (min-width :1px) {
        width: 100%!important;
        height: 100%;
    
    }  
    @media (min-width :500px) {
        width: 500px!important;
        height: 300px;
    
    }  

   
}